* {
    text-align: center;
}

h1 {
    padding-top: 20px;
}

h2 {
    padding-top: 20px;
}

.topbarDiv {
    padding-top: 10px;
    background-color: purple;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
    font-size: 14px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.highScoreNav {
    float: left;
    padding-bottom: 20px;
}

.timerDiv {
    text-align: right;
    float: right;
}

.questionDiv {
    display: block;
    margin: 30px;
    padding-top: 20px;
    text-align: left;
}

.startBtnDiv {
    display: block;
    margin: auto;
}

.welcome-div {
    display: inline-block;
    margin: 30px;
    padding-top: 20px;
}

.high-score-container {
    display: none;
}